* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 0;
  margin-left: -10%;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  margin-right:   20px;
  z-index: 1;
}


.img {
  width: 600px;
  height: auto;
  align-items: start;
  margin-bottom: 0;
  margin-left: 3%;
  margin-top: 5%;
}

.text-block {
  text-align: right;
  flex: 0 0 auto;
  margin-right: 50px;
  z-index: 2;
}

.title {
  font-size: 800%;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 1px;
}

.line {
  display: none;
}

.subtitle {
  font-size: 300%;
  color: #333;
  font-weight: 600;
  line-height: 130%;
}

.right-section {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}

.login-box {
  width: 430px;
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: #444 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 30px;
  font-size: 140%;
  color: #222;
  font-weight: 600;
}

.login-box label {
  display: block;
  text-align: left;
  font-size: 100%;
  margin-bottom: 8px;
  color: #444;
}

.login-box input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: 100%;
  background-color: #f8f8f8;
  transition: border-color 0.3s;
}

.login-box input:focus {
  border-color: #5b8def;
  outline: none;
  background-color: #fff;
}

.login-box button {
  width: 60%;
  padding: 12px;
  background-color: #5b8def;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 110%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: #4a7ad6;
}
